In [1]:
#pandas
#pandas is a pthon library

In [2]:
#import pandas as pd

In [3]:
import pandas as pd

In [4]:
#creating a series
#shift+tab=description of cell
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
      
my_series=pd.Series(days)
print(my_series)

0       monday
1      tuesday
2    wednesday
3     thursday
4       friday
5     saturday
6       sunday
dtype: object

In [5]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

      
my_series=pd.Series(days,index=[3,4,5,6,7,8,9])
print(my_series)

3       monday
4      tuesday
5    wednesday
6     thursday
7       friday
8     saturday
9       sunday
dtype: object

In [6]:
#creating series using dictionary
dict={'1':'monday','2':'tuesday','3':'wednesday','4':'friday'}

ser=pd.Series(dict)
print(ser)

1       monday
2      tuesday
3    wednesday
4       friday
dtype: object

In [7]:
#creating a dataframe using dictionary
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
max_temp=[18,19,20,21,16,21,20]
min_temp=[10,13,12,8,7,11,12]
windspeed=[10,14,8,14,18,11,14]
event=['rain','thunderstorm','rain','sunny','fog','fog','rain']

weather={'Day':days,'Max Temperature':max_temp,'Min Temperature':min_temp,'Windspeed':windspeed,'Event':event}
df=pd.DataFrame(weather,index=range(1,8))
df

         Day  Max Temperature  Min Temperature  Windspeed         Event
1     monday               18               10         10          rain
2    tuesday               19               13         14  thunderstorm
3  wednesday               20               12          8          rain
4   thursday               21                8         14         sunny
5     friday               16                7         18           fog
6   saturday               21               11         11           fog
7     sunday               20               12         14          rain

In [8]:
df.to_csv('weather data.csv')
#exporting a dataframe to a csv file

In [9]:
#importing from a csv file

In [10]:
new_df=pd.read_csv('weather data.csv')

In [11]:
new_df

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
0,1,monday,18,10,10,rain
1,2,tuesday,19,13,14,thunderstorm
2,3,wednesday,20,12,8,rain
3,4,thursday,21,8,14,sunny
4,5,friday,16,7,18,fog
5,6,saturday,21,11,11,fog
6,7,sunday,20,12,14,rain

In [12]:
new_df.shape
#it returns a tuple that tells about row and column

(7, 6)

In [13]:
new_df.head()
#tells about pehle ki 5 rows

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
0,1,monday,18,10,10,rain
1,2,tuesday,19,13,14,thunderstorm
2,3,wednesday,20,12,8,rain
3,4,thursday,21,8,14,sunny
4,5,friday,16,7,18,fog

In [14]:
new_df.head(3)

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
0,1,monday,18,10,10,rain
1,2,tuesday,19,13,14,thunderstorm
2,3,wednesday,20,12,8,rain

In [15]:
new_df.tail(2)

   Unnamed: 0       Day  Max Temperature  Min Temperature  Windspeed Event
5           6  saturday               21               11         11   fog
6           7    sunday               20               12         14  rain

In [16]:
new_df[1:5]

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
1,2,tuesday,19,13,14,thunderstorm
2,3,wednesday,20,12,8,rain
3,4,thursday,21,8,14,sunny
4,5,friday,16,7,18,fog

In [17]:
new_df.columns

Index(['Unnamed: 0', 'Day', 'Max Temperature', 'Min Temperature', 'Windspeed',
       'Event'],
      dtype='object')

In [18]:
new_df[['Event']]

          Event
0          rain
1  thunderstorm
2          rain
3         sunny
4           fog
5           fog
6          rain

In [19]:
type(new_df.Event)

pandas.core.series.Series

In [20]:
new_df.max()

Unnamed: 0                    7
Day                   wednesday
Max Temperature              21
Min Temperature              13
Windspeed                    18
Event              thunderstorm
dtype: object

In [23]:
new_df['Windspeed'].max()

18

In [24]:
new_df['Windspeed']>10

0    False
1     True
2    False
3     True
4     True
5     True
6     True
Name: Windspeed, dtype: bool

In [26]:
new_df[new_df['Windspeed']>10]

,Unnamed: 0,Day,Max Temperature,Min Temperature,Windspeed,Event
1,2,tuesday,19,13,14,thunderstorm
3,4,thursday,21,8,14,sunny
4,5,friday,16,7,18,fog
5,6,saturday,21,11,11,fog
6,7,sunday,20,12,14,rain

In [27]:
new_df.describe()

       Unnamed: 0  Max Temperature  Min Temperature  Windspeed
count    7.000000         7.000000         7.000000   7.000000
mean     4.000000        19.285714        10.428571  12.714286
std      2.160247         1.799471         2.225395   3.302236
min      1.000000        16.000000         7.000000   8.000000
25%      2.500000        18.500000         9.000000  10.500000
50%      4.000000        20.000000        11.000000  14.000000
75%      5.500000        20.500000        12.000000  14.000000
max      7.000000        21.000000        13.000000  18.000000

In [28]:
#tasks
#1)make a function whose name is describe and insert a dataframe

In [29]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       7 non-null      int64
 1   Day              7 non-null      object
 2   Max Temperature  7 non-null      int64
 3   Min Temperature  7 non-null      int64
 4   Windspeed        7 non-null      int64
 5   Event            7 non-null      object
dtypes: int64(4), object(2)
memory usage: 464.0+ bytes

In [30]:
new_df.corr()

                 Unnamed: 0  Max Temperature  Min Temperature  Windspeed
Unnamed: 0         1.000000         0.257248        -0.104006   0.373815
Max Temperature    0.257248         1.000000         0.422141  -0.488830
Min Temperature   -0.104006         0.422141         1.000000  -0.524869
Windspeed          0.373815        -0.488830        -0.524869   1.000000